<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>  
		<nav class="navbar">
    		<ul>
        		<li><a href="/" style="color:white">Home</a></li>
	        	<li><a href="/about" style="color:white">About</a></li>
        		<li><a href="/cv" style="color:white">CV</a></li>
        		<li><a href="/blog" style="color:white">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:lucas_ou@outlook.com">email</a></li>
        		<li><a href="https://github.com/lucasou15">github.com/lucasou15</a></li>
			</ul>
		</footer>
	</body>
</html>